<div class="profileList">
    <h1>Profiles:</h1><br>


    

   {{#each profiles as |profile|}}
   <ul class="profileListItem">
    
        <li>{{profile.clientname}} </li>
        <li>{{profile.clientage}} </li>
        <li>{{profile.clientpart}}</li>
        <li>{{profile.clientlevel}}</li>

        
        <form action="/{{profile.id}}" method="get">
        <button>SHOW</button>
        </form>

    </ul>
    {{/each}}
</div>