<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
      <div>  {{clientname}}</div>
       <div>{{clientage}}</div> 
       <div>{{clientpart}}</div> 
       <div>{{clientlevel}}</div> 
       <div id="workoutDetails">
        <div id="nameOfExercise"></div>
        <div id="equipment"></div>
        <div id="instruction"></div>
       </div>
   
      <div class="buttons">
        <form action="/{{id}}/edit" method="get">
            <button>EDIT</button>
        </form>
        <form action="/{{id}}?_method=DELETE" method="POST">
            <button>DELETE</button>
        </form>
     </div>
    </div>
</body>
</html>